<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :title, class: "form-text", placeholder: "Title..." %>
  </div>

  <div class="mb-3">
    <%= form.text_area :body, class: "form-text", placeholder: "Body..." %>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
