<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>
  <hr>
  <strong>
    <%= post.user.username %>
  </strong>
  <%= time_ago_in_words(post.created_at.to_date) %>
  <div class="fs-3">
    <%= post.title %>
  </div>
  <div class="fs-4">
    <%= post.body %>
  </div>
  <%= link_to 'Show', post %>
  <% if post.user_id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %> 
  <br>
<% end %>

